[submodule "extra/adt-util.js"]
	path = extra/adt-util.js
	url = git@github.com:rehno-lindeque/adt-util.js.git
[submodule "extra/adt-html.js"]
	path = extra/adt-html.js
	url = git@github.com:rehno-lindeque/adt-html.js.git
[submodule "extra/adt-typecheck.js"]
	path = extra/adt-typecheck.js
	url = git@github.com:rehno-lindeque/adt-typecheck.js.git
